
<%
def reverseWords(s)
  s.split('-').reverse.join('-')
end
%>
<h1>VIEW YOUR TRANSACTIONS</h1>

<a href="/transactions/new">New transaction</a>
<a href="/transactions/sort_by_amount"> Sort the transactions by amount </a>


<h1>Transactions : </h1>

<%@transactions.sort!{ |a,b| a.transaction_date <=> b.transaction_date}%>



<%@transactions.each do |transaction|%>
<p>Merchant :<strong class="total_spend"> <%= transaction.merchant.name %></strong></p>
<p>Category :<strong class="total_spend"> <%= transaction.tag.type %></strong></p>
<p>Transaction date : <strong class="total_spend"> <% date = transaction.transaction_date %> <%= date = reverseWords(date) %></strong></p>
<p>Transaction amount £ : <strong class="total_spend"><%= transaction.amount%></strong></p>
<hr>
<% @total += transaction.amount %>
<% end %>

<%@budget.each do |budget| %>
<%@result = @total > budget.budget_amount ? "You are over budget of #{budget.budget_amount - @total}" : "You can still spend £ #{budget.budget_amount - @total} of your budget!" %>
<% end %>



<p class="total_spend">Your total spend is £ : <strong><%= @total %></strong></p>
<p><strong><%=@result%></strong></p>
