
<%
def reverseWords(s)
  s.split('-').reverse.join('-')
end
%>

<a href="/transactions">Back to the Transacions list</a>

<h1>Transactions : </h1>

<%@transactions.sort!{ |a,b| a.amount <=> b.amount}%>



<%@transactions.each do |transaction|%>
<p>Merchant : <strong class="total_spend"> <%= transaction.merchant.name %></strong></p>
<p>Category : <strong class="total_spend"> <%= transaction.tag.type %></strong></p>
<p>Transaction date :<strong class="total_spend">  <% date = transaction.transaction_date %> <%= date = reverseWords(date) %></strong></p>
<p>Transaction amount £ :<strong class="total_spend">  <%= transaction.amount%></strong></p>
<hr>
<% @total += transaction.amount %>
<% end %>

<p class="total_spend">Your total spend is £ : <strong><%= @total %></strong></p>
