<h1>Transactions for <%=@merchant.name%> : </h1>

<%
def reverseWords(s)
  s.split('-').reverse.join('-')
end
%>

<%@transactions.each do |transaction|%>
<% if transaction.merchant_id == @merchant.id %>
<p>Merchant :<strong class="total_spend"> <%= transaction.merchant.name %></strong></p>
<p>Category :<strong class="total_spend"> <%= transaction.tag.type %></strong></p>
<p>Transaction date : <strong class="total_spend"> <% date = transaction.transaction_date %> <%= date = reverseWords(date) %></strong></p>
<p>Transaction amount £ : <strong class="total_spend"><%= '%.2f' % transaction.amount%></strong></p>
<hr>

<% end %>
<% end %>
